
.word{background-image:url(Happy-Onam-2015-with-King-Mahabali-Greetings-HD-Wallpaper.jpg);
    
    height: 800px;
    width:auto px;


} 
.ash h1{
    font-family: 'Times New Roman', Times, serif ;
    font-size: 60px;
    font-color:White ;
    text-align: center;
    color: rgb(22, 22, 63)
}
.ash1 {
    color: rgb(12, 4, 4);
}